@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: light;
  }

  *,
  *::before,
  *::after {
    @apply box-border;
  }

  html,
  body,
  #root {
    @apply h-full;
  }

  body {
    @apply bg-surface-page text-ink antialiased font-sans;
    margin: 0;
  }
}
